## Gradle
.gradle/
build/

## ForgeGradle
run/

## IDEA
.idea/
out/
*.iml
*.ipr
*.iws

## Secret Dev Stuff
reference/
/bin/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
build.gradle.bak
NetherFoundation_Client.launch
NetherFoundation_Server.launch
